/* src/GameMenu.scss */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 使容器占满整个视口 */
  color: white;
  font-family: "Arial", sans-serif;
}

.menu-title {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #f39c12; /* 金色字体 */
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
    padding: 10px 0; /* 增大按钮的垂直间距 */
}

/* src/GameMenu.scss */
.menu-item {
  background-color: #3498db;
  color: white;
  font-size: 1.5rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
  background-color: #2980b9;
  transform: scale(1.1); /* 鼠标悬停时放大按钮 */
}

.menu-item:focus {
  outline: none; /* 移除焦点轮廓 */
}
